* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}

.nav-bar {
  background-color: white;
  height: 75px;
  color: black;
  display: flex;
  width: 100%;
  margin-top: 50px;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  height: 110px;
  width: 160px;
}

.logo {
  background-image: url("ehr_logo.png");
  background-size: cover;
  height: 60px;
  width: 100%;
}

.profile {
  margin-right: 50px;
  font-size: 30px;
  background-color: white;
  justify-content: end;
  display: flex;
  width: 130px;
  height: 40px;
  padding: 20px;
  border: 2px solid #102242;
  border-radius: 50%;
}

.profile-pic {
  margin-right: 10px;
}

/**Hero-Section1 **/

.hero-top {
  height: 683px;
  width: 1650px;
  background-color: white;
  margin-left: 130px;
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  color: black;
  font-size: 70px;
  background-color: white;
  margin-left: 65px;
  margin-top: 1px;
  font-family: Segoe UI;
  font-weight: 500;
}

.health-hub {
  background-color: white;
  font-size: 80px;
}

.hero-image {
  height: 643px;
  width: 781px;
}

.image-top {
  background-image: url("Hero_top1.png");
  background-color: white;
  background-size: cover;
  height: 643px;
  width: 781px;
}

.click-icon {
  height: 70.52px;
  width: 70.52px;
}

.mouse-icon {
  background-image: url("Mouse_icon.png");
  background-color: white;
  background-size: cover;
  height: 70.52px;
  width: 100%;
  margin-left: 460px;
  margin-top: -65px;
}

/**Hero-Sction2 **/
.hero-bottom {
  height: 594px;
  width: 1650px;
  background-color: white;
  margin-left: 130px;
  /* margin-top: 17px; */
  display: flex;
  border-top: 0.5px solid #eeeeee;
  align-items: center;
  justify-content: space-between;
}

.bottom-image {
  height: 500px;
  width: 700px;
}

.image-bottom {
  background-image: url("Hero_bottom.png");
  background-color: white;
  background-size: cover;
  height: 500px;
  width: 100%;
  margin-left: 40px;
}

.bottom-content {
  background-color: white;
  color: black;
  font-family: "Segoe UI";
  font-size: 65px;
  font-weight: 500;
  margin-right: 115px;
  margin-top: 75px;
}

/* .button-add {
    align-items: center;
} */

.button {
  background-color: #0775f4;
  color: white;
  font-size: 45px;
  font-family: "Segoe UI";
  font-weight: 400;
  margin-top: 65px;
  padding: 25px;
  border-radius: 15px;
}

/** Footer **/

.foot-panel {
  background-color: #102242;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
}

ul {
  margin-top: 20px;
}

ul p {
  color: whitesmoke;
  font-size: large;
}
ul a {
  display: block;
  font-size: 0.75rem;
  margin-top: 10px;
  color: #dddddd;
}

.foot-logo {
  height: 100px;
  width: 300px;
}

.logo2 {
  background-image: url("ehr_logo.png");
  background-size: cover;
  background-color: #ffffff;
  height: 89px;
  width: 280px;
}

/*.social-media {
    display: flex;
    justify-content: space-between;
}*/

/*.fb-icon {
    background-image: url("facebook.png");
    background-size: cover;
    background-color: #102242;
    height: 91.56px;
    width: 90%;
}

.insta-icon {
    background-image: url("instagram.png");
    background-size: cover;
    background-color: #102242;
    height: 91.56px;
    width: 90%;
}

.yt-icon {
    background-image: url("youtube.png");
    background-size: cover;
    background-color: #102242;
    height: 91.56px;
    width: 90%;
}*/
